<div class="container">

    <div class="mb-3">
          <label class="form-label">Receta</label>
          <input type="text" class="form-control" [(ngModel)]="comida">
          <button class="btn btn-success m-3" (click)="buscarReceta()">Buscar</button>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered align-middle">
      
      <thead class="table-dark">
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Ingredientes</th>
          <th>Imagen</th>
          <th>Detalle</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let receta of recetas">
          <td>{{receta.name}}</td>
          <td>{{receta.description}}</td>
          <td><p *ngFor="let ingrediente of receta.ingredients">{{ingrediente.name}}</p></td>
          <td><img [src]="'data:image/png;'+receta.image" alt=""></td>
          <td><button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#traductor"(click)="traducir(receta.description)">Traducir</button></td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="modal fade" id="traductor" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Descripcion</h5>

        <button 
          type="button" 
          class="btn-close" 
          data-bs-dismiss="modal">
        </button>
      </div>

      <div class="modal-body">
                <p>{{resultado}}</p>
      </div>

      <div class="modal-footer">
        <button 
          type="button" 
          class="btn btn-secondary"
          data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>

    </div>
  </div>
</div>