
<header class="container text-center py-5">
    <h1 class="fw-bold">Nuestra Galería</h1>
  </header>

  <main class="container pb-5">
    <!-- row-cols-md-3 = 3 columnas en pantallas medianas/grandes -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 cards-grid">
      <div class="col reveal" *ngFor="let movie of listaMovies | slice:0:9">
        <a href="#" class="text-decoration-none text-reset">
          <div class="card fancy-card h-100" >
            <img [src]="movie.image" class="card-img-top" alt="Card 1">
            <div class="card-body">
              <h5 class="card-title">{{movie.title}} {{movie.year}} </h5>
              <p class="card-text text-muted">{{movie.description}}</p>
              <span class="badge text-bg-primary">{{movie.genre}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </main>
