<!-- navbar.html - Incluí este bloque al inicio del <body> de cualquier página -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold" href="index.html">
      <i class="bi bi-stars me-1"></i> Trabajo Practico Web Service
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
            aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" [routerLink]="'movies'">Peliculas</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]= "'marcas'" >Marcas</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]= "'conversor'" >Conversor</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]= "'audio'" >Audio</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]= "'clima'" >Clima</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]= "'qr'" >Generar QR</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]= "'parcial'" >Parcial</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]= "'prueba'" >Prueba</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]= "'simulacro2'" >Simulacro 2</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]= "'recu'" >Recuperatorio</a></li>
      </ul>
    </div>
  </div>
</nav>