<!-- INPUT CON BOTON -->

<div class="container m-3">

     <select class="form-select" [(ngModel)]="code">
    <option [ngValue]="a.code" *ngFor="let a of arreglocodes">{{a.country}}</option>
  </select>
  <!-- <input type="text" class="form-control" placeholder="Escribí codigo..." [(ngModel)]="code"> -->
   <input type="text" class="form-control" placeholder="Escribí año..." [(ngModel)]="anio">

  <button class="btn btn-primary m-2" (click)="funcionGet()">Consultar Dias</button>

   <button class="btn btn-primary m-2" (click)="funcionGet2()">Consultar Info</button>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered align-middle">
      
      <thead class="table-dark">
        <tr>
          <th>Date</th>
          <th>LocalName</th>
          <th>Country Code</th>
          <th>Type</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of arreglo">
          <td>{{p.date}}</td>
          <td>{{p.localName}}</td>
          <td>{{p.countryCode}}</td>
          <td *ngFor="let o of p.types"><p>{{o}}</p></td>
        </tr>
      </tbody>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered align-middle">
      
      <thead class="table-dark">
        <tr>
          <th>Capital</th>
          <th>Moneda</th>
          <th>Bandera</th>     
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{obj.capital}}</td>
          <td *ngFor="let f of obj.currencyCodes">{{f}}</td>
          <td><img [src]="obj.flagImageUri" alt=""></td>
        </tr>
      </tbody>
    </table>
</div>
